
# Build the hyrax-dependencies repo and snapshot that build if it works.
# jhrg 2/23/18 

dist: trusty

sudo: false

language: cpp

compiler: gcc

branches:
  only:
  - master
  - travis

addons:
  apt:
    packages:
    - uuid-dev
    - libxml2-dev
    - libcurl4-openssl-dev
    - libcppunit-dev
    - libicu-dev

env:
  global:
  - prefix=$HOME/install

before_install:
- sudo apt-get update -qq

# script:
# - printenv
# - make -j7 for-travis

# The coverity_scan branch is built by the addon
jobs:
  stages:
  - name: build
  - name: package
  include:
  - stage: build
    script:
    - export DEPS_BUILD=ubuntu
    - printenv
    # - make -j7 for-travis
  - stage: package
    script: 
    - export DEPS_BUILD=centos6
    - mkdir -p $HOME/centos6/install
    - docker run --volume $HOME/centos6/install:/home/install --volume $TRAVIS_BUILD_DIR:/home/hyrax-dependencies
             opendap/centos6_hyrax_builder:latest /home/hyrax-dependencies/build-for-rpm.sh
  - stage: package
    script: 
    - export DEPS_BUILD=centos7
    - docker run centos:centos7 df -h
    

before_deploy:
- mkdir $TRAVIS_BUILD_DIR/package
- tar -C $HOME -czvf $TRAVIS_BUILD_DIR/package/hyrax-dependencies-unbuntu.tar.gz install
- tar -C $HOME/centos6/ -czvf $TRAVIS_BUILD_DIR/package/hyrax-dependencies-centos6-static.tar.gz install

deploy:
  provider: s3
  access_key_id: AKIAJZVG7ULONJ23KRZA
  secret_access_key:
    secure: WJD2mU3sHhDU79plgjcYsAbMiHJ4Nld37H3ha1ODifRwbKNUnMYKRfXOs4EgwxNnvG1mjood/MgDJRB4Aip760ELA8MuXHQOiPtBWUTztj540QXbYbkslmI3Wa6KON6Uq+l9EZ4/RLFpQjSrN2oZ0+ZsuMEvFNfszeI6txbnbjU=
  bucket: opendap.travis.build
  skip_cleanup: true
  local_dir: $TRAVIS_BUILD_DIR/package
  on:
    branch:
    - master
    - travis
